In [14]:
# To import pandas
import pandas as pd
# To read csv
pd.read_csv(r"C:\Users\enzri\OneDrive\Desktop\projects\test.csv")

,lamp_id,1/4/2023,2/4/2023,3/4/2023,4/4/2023,5/4/2023,6/4/2023,7/4/2023,8/4/2023,9/4/2023,10/4/2023,11/4/2023,12/4/2023,13/4/2023,14/4/2023,15/4/2023
0,99,4354,4225,2846,4222,4316,3456,2913,3024,4387,4320,4365,4244,3916,3524,3609
1,100,4390,4274,1763,4036,4172,3730,3282,4076,4572,4892,4458,4259,4232,3876,3584
2,109,6002,5582,6044,5404,5278,5568,5610,5673,6139,6481,5587,5782,6904,5000,4645
3,73,3250,2112,349,3,0,0,267,4372,1633,4,1,332,178,1043,0
4,74,1981,3313,4677,4595,4539,4442,4372,4515,4982,4566,2673,5188,5036,4902,4367
5,88,559,508,59,52,415,392,409,1,1,369,328,171,78,445,402
6,81,398,418,53,97,426,331,405,3,1,423,379,175,91,343,446
7,90,332,110,564,391,653,3,1,241,91,6,0,0,1,0,537
8,91,354,50,579,608,652,3,1,264,111,4,1,0,1,0,2874
9,92,245,90,495,429,584,1,0,159,105,4,0,0,0,0,2392
10,77,170,64,339,1,0,2,349,449,409,2,2,370,197,399,2651
11,14,265,463,555,155,0,564,463,397,570,481,390,544,724,306,4445
12,34,2464,2403,2234,2272,2628,1392,2136,2440,2577,1718,2413,2476,2555,2422,2661
13,117,2608,2532,3007,2823,3036,2350,1759,2690,2594,2271,2469,2821,2324,2150,2233
14,7,426,2,1,5,498,590,628,144,602,443,465,639,640,581,567
15,69,5044,5311,5243,4994,2060,3973,4917,5126,5482,5020,5370,5698,6067,2207,5127
16,70,5148,5257,5207,5149,5039,5338,4975,5131,5618,5140,5676,5686,6156,3197,5191
17,51,1651,1636,1530,1604,1663,1850,1599,1374,1624,1873,2139,2536,2744,2105,1610
18,52,1848,2049,1904,1901,1989,2168,1991,1679,1935,2314,2687,2906,3353,2536,1940
19,53,1,1,2,0,0,0,0,4,0,504,508,537,331,133,0
20,54,1229,1441,1314,1296,1375,1081,1036,1186,1222,1800,1817,1875,1817,1615,1393
21,58,465,418,107,62,407,380,369,389,151,290,329,79,414,343,0
22,66,3615,3579,3269,3307,3739,3346,2708,3396,3438,3572,3912,3679,3175,3007,2799
23,116,663,543,1046,1043,1092,992,406,1076,667,1077,1322,23,426,418,798
24,115,800,669,1176,1071,1096,1111,637,1181,796,1191,1327,418,435,607,941
25,35,0,0,0,0,0,0,0,165,1,135,0,108,0,0,0
26,57,545,529,135,125,532,498,358,458,216,453,384,131,527,384,1
27,19,1705,1876,1988,1362,419,1979,1969,1702,2031,1819,1940,2059,2524,1892,1593
28,20,88,165,183,60,2,180,148,130,186,151,126,145,235,79,193
29,22,2923,3041,3118,3151,3215,3269,2807,2798,3117,2864,3147,3381,3859,3038,2983
30,23,231,219,446,738,658,366,863,795,767,396,408,869,334,535,825
31,27,1785,1598,2217,2578,2882,1947,2258,2444,2419,2267,2045,2654,1955,2173,2292
32,36,0,0,0,0,0,0,2,153,0,152,0,124,0,0,2106
33,37,0,0,0,0,0,0,0,169,0,190,0,186,0,0,1986
34,38,0,0,0,0,0,0,2,176,1,154,0,206,0,0,1773
35,110,2646,2500,2638,2245,2439,2420,2119,2310,2755,2586,2323,2502,2712,2419,2376
36,114,1486,1345,1827,1621,1776,1747,1085,1567,1489,1514,1967,1452,1394,1216,1402

In [15]:
#  To get a quick overview of the data.
df.head()

,lamp_id,1/4/2023,2/4/2023,3/4/2023,4/4/2023,5/4/2023,6/4/2023,7/4/2023,8/4/2023,9/4/2023,10/4/2023,11/4/2023,12/4/2023,13/4/2023,14/4/2023,15/4/2023
0,99,4354,4225,2846,4222,4316,3456,2913,3024,4387,4320,4365,4244,3916,3524,3609
1,100,4390,4274,1763,4036,4172,3730,3282,4076,4572,4892,4458,4259,4232,3876,3584
2,109,6002,5582,6044,5404,5278,5568,5610,5673,6139,6481,5587,5782,6904,5000,4645
3,73,3250,2112,349,3,0,0,267,4372,1633,4,1,332,178,1043,0
4,74,1981,3313,4677,4595,4539,4442,4372,4515,4982,4566,2673,5188,5036,4902,4367

In [16]:
# To access data for a specific lamp or date, you can use DataFrame indexing. 
data = df.loc[df['lamp_id'] == 99, '1/4/2023'].values[0]
print("Data:", data)

Data: 4354

In [17]:
# To calculate basic statistics, like mean, median, and standard deviation for a specific column.
print("Mean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_dev)

Mean: 1612.7297297297298
Median: 800.0
Standard Deviation: 1704.4966941829134

In [14]:
# Find the lamp with the highest lamp_id
highest_lamp_id = df.index.max()
print("Highest Lamp ID:", highest_lamp_id)

Highest Lamp ID: 117

In [15]:
# Find the lamp with the lowest lamp_id
lowest_lamp_id = df.index.min()
print("Lowest Lamp ID:", lowest_lamp_id)

Lowest Lamp ID: 7

In [16]:
# Access data for a specific date or lamp_id
df = pd.read_csv("test.csv", index_col='lamp_id')
lamp_id_to_access = 117
selected_row = df.loc[lamp_id_to_access]
print(selected_row)

1/4/2023     2608
2/4/2023     2532
3/4/2023     3007
4/4/2023     2823
5/4/2023     3036
6/4/2023     2350
7/4/2023     1759
8/4/2023     2690
9/4/2023     2594
10/4/2023    2271
11/4/2023    2469
12/4/2023    2821
13/4/2023    2324
14/4/2023    2150
15/4/2023    2233
Name: 117, dtype: int64

In [17]:
# Access data for a specific date or lamp_id
lamp_id_to_access = 7
data_for_lamp_7 = df.loc[lamp_id_to_access]
print(data_for_lamp_7)

1/4/2023     426
2/4/2023       2
3/4/2023       1
4/4/2023       5
5/4/2023     498
6/4/2023     590
7/4/2023     628
8/4/2023     144
9/4/2023     602
10/4/2023    443
11/4/2023    465
12/4/2023    639
13/4/2023    640
14/4/2023    581
15/4/2023    567
Name: 7, dtype: int64

In [18]:
pd.set_option('display.max_columns', None)
df_transposed = df.T
print(df_transposed)

lamp_id     99    100   109   73    74   88   81   90    91    92    77   \
1/4/2023   4354  4390  6002  3250  1981  559  398  332   354   245   170
2/4/2023   4225  4274  5582  2112  3313  508  418  110    50    90    64
3/4/2023   2846  1763  6044   349  4677   59   53  564   579   495   339
4/4/2023   4222  4036  5404     3  4595   52   97  391   608   429     1
5/4/2023   4316  4172  5278     0  4539  415  426  653   652   584     0
6/4/2023   3456  3730  5568     0  4442  392  331    3     3     1     2
7/4/2023   2913  3282  5610   267  4372  409  405    1     1     0   349
8/4/2023   3024  4076  5673  4372  4515    1    3  241   264   159   449
9/4/2023   4387  4572  6139  1633  4982    1    1   91   111   105   409
10/4/2023  4320  4892  6481     4  4566  369  423    6     4     4     2
11/4/2023  4365  4458  5587     1  2673  328  379    0     1     0     2
12/4/2023  4244  4259  5782   332  5188  171  175    0     0     0   370
13/4/2023  3916  4232  6904   178  5036   78   91    1     1     0   197
14/4/2023  3524  3876  5000  1043  4902  445  343    0     0     0   399
15/4/2023  3609  3584  4645     0  4367  402  446  537  2874  2392  2651

lamp_id     14    34    117  7     69    70    51    52   53    54   58   \
1/4/2023    265  2464  2608  426  5044  5148  1651  1848    1  1229  465
2/4/2023    463  2403  2532    2  5311  5257  1636  2049    1  1441  418
3/4/2023    555  2234  3007    1  5243  5207  1530  1904    2  1314  107
4/4/2023    155  2272  2823    5  4994  5149  1604  1901    0  1296   62
5/4/2023      0  2628  3036  498  2060  5039  1663  1989    0  1375  407
6/4/2023    564  1392  2350  590  3973  5338  1850  2168    0  1081  380
7/4/2023    463  2136  1759  628  4917  4975  1599  1991    0  1036  369
8/4/2023    397  2440  2690  144  5126  5131  1374  1679    4  1186  389
9/4/2023    570  2577  2594  602  5482  5618  1624  1935    0  1222  151
10/4/2023   481  1718  2271  443  5020  5140  1873  2314  504  1800  290
11/4/2023   390  2413  2469  465  5370  5676  2139  2687  508  1817  329
12/4/2023   544  2476  2821  639  5698  5686  2536  2906  537  1875   79
13/4/2023   724  2555  2324  640  6067  6156  2744  3353  331  1817  414
14/4/2023   306  2422  2150  581  2207  3197  2105  2536  133  1615  343
15/4/2023  4445  2661  2233  567  5127  5191  1610  1940    0  1393    0

lamp_id     66    116   115  35   57    19   20    22   23    27    36    37   \
1/4/2023   3615   663   800    0  545  1705   88  2923  231  1785     0     0
2/4/2023   3579   543   669    0  529  1876  165  3041  219  1598     0     0
3/4/2023   3269  1046  1176    0  135  1988  183  3118  446  2217     0     0
4/4/2023   3307  1043  1071    0  125  1362   60  3151  738  2578     0     0
5/4/2023   3739  1092  1096    0  532   419    2  3215  658  2882     0     0
6/4/2023   3346   992  1111    0  498  1979  180  3269  366  1947     0     0
7/4/2023   2708   406   637    0  358  1969  148  2807  863  2258     2     0
8/4/2023   3396  1076  1181  165  458  1702  130  2798  795  2444   153   169
9/4/2023   3438   667   796    1  216  2031  186  3117  767  2419     0     0
10/4/2023  3572  1077  1191  135  453  1819  151  2864  396  2267   152   190
11/4/2023  3912  1322  1327    0  384  1940  126  3147  408  2045     0     0
12/4/2023  3679    23   418  108  131  2059  145  3381  869  2654   124   186
13/4/2023  3175   426   435    0  527  2524  235  3859  334  1955     0     0
14/4/2023  3007   418   607    0  384  1892   79  3038  535  2173     0     0
15/4/2023  2799   798   941    0    1  1593  193  2983  825  2292  2106  1986

lamp_id     38    110   114
1/4/2023      0  2646  1486
2/4/2023      0  2500  1345
3/4/2023      0  2638  1827
4/4/2023      0  2245  1621
5/4/2023      0  2439  1776
6/4/2023      0  2420  1747
7/4/2023      2  2119  1085
8/4/2023    176  2310  1567
9/4/2023      1  2755  1489
10/4/2023   154  2586  1514
11/4/2023     0  2323  1967
12/4/2023   206  2502  1452
13/4/2023     0  2712  1394
14/4/2023     0  2419  1216
15/4/2023  1773  2376  1402

In [20]:
# Sort the DataFrame by 'lamp_id' in ascending order
df_sorted = df_transposed.sort_values(by='lamp_id', axis=1, ascending=True)
# Display the sorted DataFrame
print(df_sorted)

lamp_id    7     14    19   20    22   23    27    34   35    36    37    38   \
1/4/2023   426   265  1705   88  2923  231  1785  2464    0     0     0     0
2/4/2023     2   463  1876  165  3041  219  1598  2403    0     0     0     0
3/4/2023     1   555  1988  183  3118  446  2217  2234    0     0     0     0
4/4/2023     5   155  1362   60  3151  738  2578  2272    0     0     0     0
5/4/2023   498     0   419    2  3215  658  2882  2628    0     0     0     0
6/4/2023   590   564  1979  180  3269  366  1947  1392    0     0     0     0
7/4/2023   628   463  1969  148  2807  863  2258  2136    0     2     0     2
8/4/2023   144   397  1702  130  2798  795  2444  2440  165   153   169   176
9/4/2023   602   570  2031  186  3117  767  2419  2577    1     0     0     1
10/4/2023  443   481  1819  151  2864  396  2267  1718  135   152   190   154
11/4/2023  465   390  1940  126  3147  408  2045  2413    0     0     0     0
12/4/2023  639   544  2059  145  3381  869  2654  2476  108   124   186   206
13/4/2023  640   724  2524  235  3859  334  1955  2555    0     0     0     0
14/4/2023  581   306  1892   79  3038  535  2173  2422    0     0     0     0
15/4/2023  567  4445  1593  193  2983  825  2292  2661    0  2106  1986  1773

lamp_id     51    52   53    54   57   58    66    69    70    73    74   \
1/4/2023   1651  1848    1  1229  545  465  3615  5044  5148  3250  1981
2/4/2023   1636  2049    1  1441  529  418  3579  5311  5257  2112  3313
3/4/2023   1530  1904    2  1314  135  107  3269  5243  5207   349  4677
4/4/2023   1604  1901    0  1296  125   62  3307  4994  5149     3  4595
5/4/2023   1663  1989    0  1375  532  407  3739  2060  5039     0  4539
6/4/2023   1850  2168    0  1081  498  380  3346  3973  5338     0  4442
7/4/2023   1599  1991    0  1036  358  369  2708  4917  4975   267  4372
8/4/2023   1374  1679    4  1186  458  389  3396  5126  5131  4372  4515
9/4/2023   1624  1935    0  1222  216  151  3438  5482  5618  1633  4982
10/4/2023  1873  2314  504  1800  453  290  3572  5020  5140     4  4566
11/4/2023  2139  2687  508  1817  384  329  3912  5370  5676     1  2673
12/4/2023  2536  2906  537  1875  131   79  3679  5698  5686   332  5188
13/4/2023  2744  3353  331  1817  527  414  3175  6067  6156   178  5036
14/4/2023  2105  2536  133  1615  384  343  3007  2207  3197  1043  4902
15/4/2023  1610  1940    0  1393    1    0  2799  5127  5191     0  4367

lamp_id     77   81   88   90    91    92    99    100   109   110   114  \
1/4/2023    170  398  559  332   354   245  4354  4390  6002  2646  1486
2/4/2023     64  418  508  110    50    90  4225  4274  5582  2500  1345
3/4/2023    339   53   59  564   579   495  2846  1763  6044  2638  1827
4/4/2023      1   97   52  391   608   429  4222  4036  5404  2245  1621
5/4/2023      0  426  415  653   652   584  4316  4172  5278  2439  1776
6/4/2023      2  331  392    3     3     1  3456  3730  5568  2420  1747
7/4/2023    349  405  409    1     1     0  2913  3282  5610  2119  1085
8/4/2023    449    3    1  241   264   159  3024  4076  5673  2310  1567
9/4/2023    409    1    1   91   111   105  4387  4572  6139  2755  1489
10/4/2023     2  423  369    6     4     4  4320  4892  6481  2586  1514
11/4/2023     2  379  328    0     1     0  4365  4458  5587  2323  1967
12/4/2023   370  175  171    0     0     0  4244  4259  5782  2502  1452
13/4/2023   197   91   78    1     1     0  3916  4232  6904  2712  1394
14/4/2023   399  343  445    0     0     0  3524  3876  5000  2419  1216
15/4/2023  2651  446  402  537  2874  2392  3609  3584  4645  2376  1402

lamp_id     115   116   117
1/4/2023    800   663  2608
2/4/2023    669   543  2532
3/4/2023   1176  1046  3007
4/4/2023   1071  1043  2823
5/4/2023   1096  1092  3036
6/4/2023   1111   992  2350
7/4/2023    637   406  1759
8/4/2023   1181  1076  2690
9/4/2023    796   667  2594
10/4/2023  1191  1077  2271
11/4/2023  1327  1322  2469
12/4/2023   418    23  2821
13/4/2023   435   426  2324
14/4/2023   607   418  2150
15/4/2023   941   798  2233